* {
    font-family: roboto;
}
.section-1 {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 800px;
    background-image: url(asset/stair.png);
    background-size: cover;
    background-position: center;
    margin: 0px;
    height: 700px;
}
.intro {
    text-align: center;
    padding-top: 12%;
    color: white;
    font-weight: 700;
}
.image {
    padding: 4%;
}
.scroll-down {
    padding: 4%;
}
.section-2 {
    text-align: center;
    padding-top: 3%;
 
}
.section-3 {
    text-align: center;
    padding-top: 3%;
    background-image: url(asset/laptop.jpg);
    background-size: cover;
    background-position:center;
    height: 400px;
    font-weight: 700;
    color: white
}